/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/public/assets
/public/packs
/node_modules
.yarn-integrity
.byebug_history
.DS_Store
.env
.env.*
/config/master.key
/db/*.sqlite3
/db/*.sqlite3-*
/coverage
/spec/reports
